.App {
  /* display: flex; */
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  /* width: 80%; */

}

.chart {
  /* width: 100%; */
  margin: 20px;
}




table {
  text-align: left;
  border-collapse: collapse;
  width: 100px;
  margin-top: 20px;
  margin-left: 5px;

}

td, th {
  border: 2px solid #dddddd;
  width: 30px;
}