.App {
  /* display: flex; */
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  /* width: 80%; */

}

/* .chart {
  width: 70%;
} */




table {
  text-align: left;
  border-collapse: collapse;
  width: 10vh;
}

td, th {
  border: 2px solid #dddddd;
  width: 30px;
}